@(proposalForm: Form[Proposal])

@import helper._

@main("New Proposal") {

    @form(action = routes.Application.submitProposal(), 'class -> "form-horizontal"){
        <div class="row">
            <div class="col-xs-6">
                <h3>Proposal</h3>
                <label>Title</label>@inputText(proposalForm("title"), args = '_label -> "")
                <label>Proposal</label>
                @textarea(proposalForm("proposal"), args = '_label -> "", 'rows -> 3, 'cols -> 50)
                <label>Keywords</label>
                @inputText(proposalForm("keywords"), args = '_label -> "", 'placeholder -> "Separate keywords by a coma", 'size -> 50)
            </div>
            <div class="col-xs-6">
                <h3>Speaker</h3>
                <label>Name</label>
                @inputText(proposalForm("speaker.name"), args = '_label -> "")
                <label>Email</label>
                @inputText(proposalForm("speaker.email"), args = '_label -> "")
                <label>Short bio</label>
                @textarea(proposalForm("speaker.bio"), args = '_label -> "", 'rows -> 3, 'cols -> 50)
                <label>Twitter id</label>
                @inputText(proposalForm("speaker.twitterId"), args = '_label -> "")
                <label>Avatar url</label>
                @inputText(proposalForm("speaker.pictureUrl"), args = '_label -> "")

                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>

    }
}